# Pulling Data from Series

In [146]:
import pandas as pd
import numpy as np
from datetime import datetime

#Creating Series
data_series=pd.read_csv('C:\\Users\\assharma\\Downloads\\netflix-shows\\netflix_titles_nov_2019.csv')
title_series=pd.Series(data_series['title'])
date_added_series=pd.DataFrame(data_series['date_added'])
show_id_series=pd.Series(data_series['show_id'])

In [147]:
#print(date_added_series.head())
#Converting data into number
#sub_date=date_added_series.str[10:100]
#print(sub_date)

split_value=[x.strip() for x in  date_added_series.split(',')]

print(split_value)

AttributeError: 'DataFrame' object has no attribute 'split'

In [121]:

#Performing some baisc operation on series
print("First 5 records ",title_series.head())
print("Last 5 records ",title_series.tail())
print("Number of Dimension ",title_series.ndim)
print("Shape of this Series is  ", title_series.shape)
print("Total Count",title_series.count(),"\n")
print("Checking string in upper or lower",title_series.str.islower(),"\n")
print("Converting into Upper case",title_series.str.upper(),"\n")
print("Taking out maximum value",title_series.max(),"\n")
print("Truncate the Series",title_series.truncate,"\n")

First 5 records  0                              Chocolate
1    Guatemala: Heart of the Mayan World
2                        The Zoya Factor
3                              Atlantics
4                        Chip and Potato
Name: title, dtype: object
Last 5 records  5832    Mad Ron's Prevues from Hell
5833                       Splatter
5834        Just Another Love Story
5835                Dinner for Five
5836           To and From New York
Name: title, dtype: object
Number of Dimension  1
Shape of this Series is   (5837,)
Total Count 5837

Checking string in upper or lower 0       False
1       False
2       False
3       False
4       False
        ...
5832    False
5833    False
5834    False
5835    False
5836    False
Name: title, Length: 5837, dtype: bool

Converting into Upper case 0                                 CHOCOLATE
1       GUATEMALA: HEART OF THE MAYAN WORLD
2                           THE ZOYA FACTOR
3                                 ATLANTICS
4                           CHIP AND POTATO
                       ...
5832            MAD RON'S PREVUES FROM HELL
5833                               SPLATTER
5834                JUST ANOTHER LOVE STORY
5835                        DINNER FOR FIVE
5836                   TO AND FROM NEW YORK
Name: title, Length: 5837, dtype: object

Taking out maximum value 최강전사 미니특공대 : 영웅의 탄생

Truncate the Series <bound method NDFrame.truncate of 0                                 Chocolate
1       Guatemala: Heart of the Mayan World
2                           The Zoya Factor
3                                 Atlantics
4                           Chip and Potato
                       ...
5832            Mad Ron's Prevues from Hell
5833                               Splatter
5834                Just Another Love Story
5835                        Dinner for Five
5836                   To and From New York
Name: title, Length: 5837, dtype: object>

In [122]:
#Adding new value
print("Addding new value",title_series.add('Ashish Sharma'),"\n")

#Exporting Series data into Flat File
output_csv_title=pd.DataFrame(title_series.to_csv('C:\\Users\\assharma\\Downloads\\netflix-shows\\Series_Export '+datetime.now().strftime("%d-%m-%Y_%I-%M-%S_%p") +'.csv',index=False,header=True))

#Copying series object
new_series=title_series.copy()

#Exporting Series data into Flat File
output_csv_title_copy=pd.DataFrame(title_series.copy().to_csv('C:\\Users\\assharma\\Downloads\\netflix-shows\\Copy_Series_Export '+datetime.now().strftime("%d-%m-%Y_%I-%M-%S_%p") +'.csv',index=False,header=True))

Addding new value 0                                 ChocolateAshish Sharma
1       Guatemala: Heart of the Mayan WorldAshish Sharma
2                           The Zoya FactorAshish Sharma
3                                 AtlanticsAshish Sharma
4                           Chip and PotatoAshish Sharma
                              ...
5832            Mad Ron's Prevues from HellAshish Sharma
5833                               SplatterAshish Sharma
5834                Just Another Love StoryAshish Sharma
5835                        Dinner for FiveAshish Sharma
5836                   To and From New YorkAshish Sharma
Name: title, Length: 5837, dtype: object